html,
body {
  height: 100%;
  background-color: #f2f5f9;
}
ul {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  .row {
    > .header {
      position: relative;
      background-color: @headerColor;
      color: #fff;
    }
    .arrow-left {
      position: absolute;
      top: 50%;
      left: 12%;
      transform: translateY(-50%);
    }
  }
}

  .footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    button {
      border: 0;
      width: 250px;
      height: 50px;
      line-height: 50px;
      background-color: @themeColor;
      border: 0;
      border-radius: 6px;
    }
  }

@themeColor: #fff200;
@headerColor: #575756;
@grayColor: #e3e3e3;
